<%- include('../includes/nav.ejs') -%>
<br>
<br>
<div class="container">
    <h1>password reset page !! will be opened from email or by pressing the passowrd reset button</h1>
</div>
<%- include('../includes/end.ejs') -%>