<%- include('../includes/nav.ejs') -%>
<br>
<br>
<br>
<br>
<div class="container display-border">
    <h5>Customer Care - 0755-6610661, 0755-4090600 (Language: Hindi and English)</h5>
    <br>
    <h5>For Railway Tickets booked through this website</h5>
    <h5>General Information</h5>
    <h5>For E-tickets visit <a href="/">here</a></h5>
    <h5>For E-tickets cancellations visit <a href="/">here</a></h5>
    <br>
    <h5>Registered Office / Corporate Office</h5>
    <h5> Book Train Tickets Corporation Ltd.,</h5>
    <h5>   B-148, 11th Floor, Statesman House,</h5>
    <h5>   Kasturba Road, Bangalore 560001</h5>
</div>
<%- include('../includes/end.ejs') -%>